/* src/components/Home.css */

.home-container {
  text-align: center;
  padding: 20px;
  background-color: #e6ffe6;
  border: 1px solid #b3ffb3;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-title {
  font-size: 2em;
  margin-bottom: 10px;
  color: #33cc33;
}

.home-description {
  font-size: 1.2em;
  color: #009900;
  line-height: 1.5;
}

.home-extra-info {
  text-align: left;
  margin-top: 20px;
}

.home-section {
  margin-bottom: 20px;
}

.home-section-title {
  font-size: 1.5em;
  color: #006600;
  margin-bottom: 10px;
}

.home-list {
  list-style-type: disc;
  margin-left: 20px;
}

.home-list li {
  margin-bottom: 10px;
}

.home-section a {
  color: #007acc;
  text-decoration: none;
}

.home-section a:hover {
  text-decoration: underline;
}
